
@{
    string Version = "V3";

}


<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Coding Tutorials with examples">
    @* Mark Otto, Jacob Thornton, and Bootstrap contributors *@
    <meta name="author" content="Alec Sears">
    @* <meta name="generator" content="Hugo 0.84.0"> *@
    <title>@ViewData["controller"] @ViewData["Title"]</title>

    @* <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sidebars/"> *@

    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/sidebars.css" rel="stylesheet">

    @* favicon Recommended Settings *@
    <link rel="apple-touch-icon" sizes="180x180" href="~/lib/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/lib/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/lib/favicon-16x16.png">
    <link rel="manifest" href="~/lib/site.webmanifest">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MvcAlecScripts.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/alecScriptsStyles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

    @* For /alecscripts/Views/Sass/SassVariablesCSS.css *@
    <link rel="stylesheet" href="Views/Sass/SassVariablesCSS.css" />

    @* Google fonts *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:wght@400;700&family=Lexend:wght@200&family=Poppins&family=UnifrakturCook&family=UnifrakturMaguntia&display=swap"
        rel="stylesheet">

    @* /Prism CSS *@
    <link rel="stylesheet" href="~/css/prism.css" asp-append-version="true" />

    @* Google Icons *@
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="sidebars.css" rel="stylesheet">
</head>

<style>
    .navbar-toggler-icon{
        color: white;
    }
</style>

<style>
    .jumbo {
        @*background:linear-gradient(217deg,rgba(255,0,0,.8),rgba(255,0,0,0)70.71%),linear-gradient(127deg,rgba(0,255,0,.8),rgba(0,255,0,0)70.71%),linear-gradient(336deg,rgba(0,0,255,.8),rgba(0,0,255,0)70.71%);*@background: white;
        max-width: 100%;
        width: 100%;
    }
</style>

@{
    int h = 10;
    string height = h.ToString() + "px";
}

<body>

<style>
.pre-nav{
background: #212529;
width: 100%;
height: 100px;
color: white;
font-family: 'UnifrakturMaguntia', cursive;
border-bottom: 1px solid white;
}
</style>

<div class="pre-nav ">
<center class="fs-2 ">
alecscripts.com

</center>

<figcaption class="me-2 mt-4 pt-2 text-light text-end ">
        Created by Alec Sears
</figcaption>
</div>
    @* Navbar *@
    <nav style="" class="py-0 my-0 shadow-sm navbar navbar-expand-lg ">
        <div class="container-fluid bg-dark">
            <a asp-action="directory" asp-controller="home">
                <img src="~/lib/Resources/compass-fill.svg">
            </a>
            <button class=" navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                        fill="white" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                    </svg></span>
            </button>
            <div class=" collapse navbar-collapse " id="navbarSupportedContent">


                <ul class=" navbar-nav mx-auto mb-2 mb-lg-0 ">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="home" asp-action="Directory">Directory</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-light" asp-controller="java" asp-action="index">Java</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="cpp" asp-action="index">C++</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="css" asp-action="index">CSS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="bash" asp-action="index">Bash</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="html" asp-action="index">HTML</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="JS" asp-action="index">JavaScript</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="dotnet" asp-action="index">.NET</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="go" asp-action="index">GO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="Glossary" asp-action="index">Glossary</a>
                    </li>


                    @* <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Python
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class=" dropdown-item" asp-controller="Python" asp-action="Index"> Home </a></li>
                            <li><a class=" dropdown-item" asp-controller="Python" asp-action="Abs"> Abs </a></li>
                            <li><a class=" dropdown-item" asp-controller="Python" asp-action="Casting"> Casting </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                        </ul>
                    </li> *@
                </ul>

                @* <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                    </form> *@
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <main>
            <div class="row bg-dark text-light">
                <center style="font-family: 'UnifrakturMaguntia', cursive;">alecscripts.com</center>
                <div  id="mainBody" class=" col-12 px-5 my-5 bg-dark text-light" style="min-height: 100vh;">
                    <h1 style="visibility: hidden" class=" mb-5">@ViewData["Controller"]: @ViewData["title"]</h1>
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>
    <script src="~/lib/bootstrap/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/sidebars.js"></script>
    <script src="~/js/formatTables.js"></script>
    <script src="~/js/prism.js" asp-append-version="true"></script>

    @* <li><a href="#" class="link-dark rounded">Annually</a></li> *@

    @{
        string controller = ViewData["controller"].ToString();
    }

    <script>

        let h2s = document.querySelectorAll("H2");
        let h3s = document.querySelectorAll("H3");
        let sidebar = document.querySelector("#rightSideList");

        for (let h2 of h2s) {
            h2.setAttribute('class', 'header')
        }
        for (let h2 of h3s) {

            h2.setAttribute('class', 'header header-3')

        }


        let c = document.querySelector("H1").textContent.split(":")[0]

        let btns = document.querySelector("#leftSidebar").querySelector("UL").querySelectorAll('button')

        for (let btn of btns) {
            if (btn.textContent.trim(" ") == c) {
                btn.ariaExpanded = "true"
                btn.parentElement.querySelector("div").setAttribute('class', 'collapse show')
            }
        }

        let title = document.querySelector("H1").textContent.split(":")[1].replace(/ /g, "")
        let links = document.querySelector("#leftSidebar").querySelector("UL").querySelectorAll("LI");
        for (let link of links) {
            let res = link.textContent.replace(/ /g, "").replace(/\n/g, "")


            if (c + title == res) {
                link.querySelector('a').style.background = 'rgba(0, 0, 0, .1) '
                link.querySelector('a').style.color = 'black '
                link.querySelector('a').style.fontWeight = '500 '
                link.style.background = "linear-gradient(45deg, white, rgb(255,255,0,.5), rgb(255,1,0,.5))";
                link.style.borderRadius = "10px";

            }
        }
    </script>

    <script>
        let headers = document.querySelectorAll(".header")


        for (let header of headers) {
            let link = document.createElement('A')
            let li = document.createElement('LI')
            let text = header.textContent.replace(/[^a-zA-Z]/g, '');


            link.setAttribute("class", "link-dark")
            header.setAttribute('id', text)
            link.setAttribute('href', '#' + text)
            link.textContent = header.textContent
            li.appendChild(link)
            sidebar.append(li)

            if (header.getAttribute('class') == "header header-3") {
                link.style.paddingLeft = "25px"
                link.style.borderLeft = "1px double black"

            }
            else {
                link.style.borderLeft = "2px solid black"


            }

            if (header.textContent.trim(" ") == "^") {
                link.style.borderLeft = "none"
            }

        }
    </script>

    <script>
        let txt;
        let navbar = document.querySelector(".collapse.navbar-collapse").querySelector("UL")
        let controller = '@ViewData["Controller"]'.toLowerCase().replace("c&#x2b;&#x2b;", "c++").replace("js", "javascript")
        let t = '@ViewData["title"]'.toLowerCase()
        for (let li of navbar.querySelectorAll("LI")) {
            txt = li.textContent.trim(" ").toLowerCase();
            if (txt == controller || txt == t) {
                li.setAttribute("class", "navlinkSelected")
            }
        }



    </script>


    @await RenderSectionAsync("Scripts", required: false)
</body>

@* Footer *@

<div class="container-fluid bg-light">
    <div class="row">
        <div class="col ">
            <footer>
                <ul class="nav justify-content-end pb-1 mb-1">
                    <li class="nav-item"><a asp-action="index" asp-controller="home"
                            class="nav-link px-2 text-muted">Home</a></li>
                    <li class="nav-item"><a asp-action="index" asp-controller="python"
                            class="nav-link px-2 text-muted">Python</a></li>
                    <li class="nav-item"><a asp-action="index" asp-controller="Cpp"
                            class="nav-link px-2 text-muted">C++</a></li>
                    <li class="nav-item"><a asp-action="index" asp-controller="Css"
                            class="nav-link px-2 text-muted">CSS</a></li>
                </ul>
                <ul class="nav justify-content-end pb-3 mb-3 pt-1">
                    <li class="nav-item"><a asp-action="index" asp-controller="home"
                            class="nav-link px-2 text-muted">@Version</a></li>
                </ul>
            </footer>
        </div>

    </div>


</div>

</html>