@{
    string Version = "1.6k";
    string LastUpdate = "Thu Nov  3 16:10:27 MDT 2022";
    string WebMaster = "amsears60441@gmail.com";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content='@ViewData["Description"]'>
    <title>@ViewData["Title"] - Alec Scripts</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="icon" href="~/lib/favicon.ico?ver=2" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MvcAlecScripts.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/alecScriptsStyles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

    @* For /alecscripts/Views/Sass/SassVariablesCSS.css *@
    <link rel="stylesheet" href="Views/Sass/SassVariablesCSS.css"/>

    @* Google fonts *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:wght@400;700&family=Lexend:wght@200&family=Poppins&display=swap"
        rel="stylesheet">
    @* /Google fonts *@

    @* /Prism CSS *@
    <link rel="stylesheet" href="~/css/prism.css" asp-append-version="true" />
</head>


<header class="sticky-top">
    
    <nav id="navy" class="px-4 py-0 navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom shadow-sm ">
        <div class="container-fluid">

            <a style="font-family: 'Dancing Script', cursive; font-size: 30px;" class="navbar-brand text-dark">
                <button class="btn" onclick="showClass('sidebar')">
                    AS
                </button>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span style="color: white;" class=" navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="CodeTut">Coding Tutorials</a>
                    </li>

                </ul>
                    
                <div style="font-size: 10px;">
                    <span class="navbar-text text-info">
                        v<i><span class="border-bottom text-secondary">@Version</span></i>
                    </span>

                </div>
            </div>

        </div>
    </nav>
    
</header>

<div class="sticky-top">
    <button onclick="window.scrollTo(0,0);" class="skipToTopBtn btn btn-secondary">
        ⇧⇧⇧
    </button>
</div>

<body>
    <div class="row">

        @* Sidebar *@
        <div class="sidebar pt-3 fixed-top" style="">
            <details> <summary> Bash </summary> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=Index asp-controller=Bash> Home </a> <br> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=Variables asp-controller=Bash> Variables </a> <br> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=PrintVariables asp-controller=Bash> Print Variables </a> <br></details> <details> <summary> Challenge </summary> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=Index asp-controller=Challenge> Home </a> <br> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=GetOdds asp-controller=Challenge> Get Odds </a> <br> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=drinkSoda asp-controller=Challenge> Drink Soda </a> <br> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=CensoredVowels asp-controller=Challenge> Censored Vowels </a> <br> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=AreaOfAHexagon asp-controller=Challenge> Area Of Ahexagon </a> <br> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=NumberLength asp-controller=Challenge> Number Length </a> <br> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=DepthFirstSearch asp-controller=Challenge> Depth First Search </a> <br> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=ReverseSortANumber asp-controller=Challenge> Reverse Sort Anumber </a> <br> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=SumOfCube asp-controller=Challenge> Sum Of Cube </a> <br></details> <details> <summary> Cpp </summary> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=Index asp-controller=Cpp> Home </a> <br> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=CPPversionHistory asp-controller=Cpp> Cppversion History </a> <br></details> <details> <summary> Dotnet </summary> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=Index asp-controller=Dotnet> Home </a> <br> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=RandomNumber asp-controller=Dotnet> Random Number </a> <br></details> <details> <summary> Go </summary> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=Index asp-controller=Go> Home </a> <br></details> <details> <summary> Home </summary> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=Index asp-controller=Home> Home </a> <br> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=Privacy asp-controller=Home> Privacy </a> <br> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=CodeTut asp-controller=Home> Code Tut </a> <br> </details> <details> <summary> Html </summary> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=Index asp-controller=Html> Home </a> <br> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=Tags asp-controller=Html> Tags </a> <br> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=Colors asp-controller=Html> Colors </a> <br></details> <details> <summary> Java </summary> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=Index asp-controller=Java> Home </a> <br></details> <details> <summary> Js </summary> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=Index asp-controller=Js> Home </a> <br> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=GetMonth asp-controller=Js> Get Month </a> <br> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=ExpressionsOperators asp-controller=Js> Expressions Operators </a> <br> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=BinaryArrayToDecimal asp-controller=Js> Binary Array To Decimal </a> <br> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=ToFixed asp-controller=Js> To Fixed </a> <br> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=Json asp-controller=Js> Json </a> <br> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=RandomColorCreater asp-controller=Js> Random Color Creater </a> <br></details> <details> <summary> Networking </summary> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=Index asp-controller=Networking> Home </a> <br> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=IpDataGram asp-controller=Networking> Ip Data Gram </a> <br></details> <details> <summary> Python </summary> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=Index asp-controller=Python> Home </a> <br> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=Password asp-controller=Python> Password </a> <br> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=swapcase asp-controller=Python> Swapcase </a> <br> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=vars asp-controller=Python> Vars </a> <br> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=abs asp-controller=Python> Abs </a> <br> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=funnyNumbers asp-controller=Python> Funny Numbers </a> <br> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=stringFormattingTypes asp-controller=Python> String Formatting Types </a> <br> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=controllerGetter asp-controller=Python> Controller Getter </a> <br> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=Comments asp-controller=Python> Comments </a> <br> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=Syntax asp-controller=Python> Syntax </a> <br> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=VariableNames asp-controller=Python> Variable Names </a> <br> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=VariableValues asp-controller=Python> Variable Values </a> <br> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=VariableOutput asp-controller=Python> Variable Output </a> <br> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=VariableGlobals asp-controller=Python> Variable Globals </a> <br> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=DataTypes asp-controller=Python> Data Types </a> <br> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=Numbers asp-controller=Python> Numbers </a> <br></details> <details> <summary> Sass </summary> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=Index asp-controller=Sass> Home </a> <br> <a style="text-decoration:none; font-size:14px; padding-right: 100%" class=link asp-action=SassVariables asp-controller=Sass> Sass Variables </a> <br></details>
        </div>
        @* /Sidebar *@

        <div class="col-sm-12 ">
            
            <main  id="bodyRender" role="main" class="pb-3 ">
                <center>
                    <p class="pt-2 border-bottom border-dark" style="font-family: 'Dancing Script', cursive; font-size: 40px;">AS</p>
                </center>
                <div class="pt-5">
                    <h3 class="display-4 rounded-3">@ViewData["controller"] - @ViewData["Title"]</h3>
                </div>

                <div id="toc">

                    <ul class="toc-container">
                        <h4 class="border-bottom">
                            <div class="text-center">
                                Table of Contents
                            </div>
                        </h4>
                        @* @foreach (var item in Toc)
                            {
                            <li><a class="link" href="#@item">@item</a></li>
                            } *@
                    </ul>

                    

                </div>
                
                <div id="mainBody" class="pt-3 bg-light">
                    @RenderBody()
                </div>
                <center>
                    @* <p class="btn btn-dark"> *@
                        <a class="my-5 link btn" asp-controller=@ViewData["controller"] asp-action="index">
                            @ViewData["controller"]
                        </a>
                        
                    </p>
                </center>
            </main>
            
        </div>
        



    </div>


</body>

<footer id="foot" class="sticky-bottom  footer text-muted">
    <div style="font-size: small;">
        &copy; alecscripts.com &trade; <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        || <a href="https://github.com/searsam1/alecscripts/commits/main">Repository</a>
    </div>
    <div style="font-size: small;" class="pb-0">
        Version @Version
    </div>
    <div style="font-size: small;">
        Last Update: <i><span class="border-bottom text-secondary">@LastUpdate</span></i>
    </div>
    <div style="font-size: small;">
        Contact: @WebMaster
    </div>
    <div id="controller" style="font-size: small; margin-top: none;">
        @ViewData["controller"]
    </div>
    
    
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>


<script>
function openSidebarLink(){
    let sidebar = document.querySelector(".sidebar");
    let controllers = sidebar.querySelectorAll("details");
    let pageController = document.querySelector("#controller").textContent.trim();
    let header

    for (let c of controllers){
        header = c.querySelector("summary").textContent.trim()
        if (header == pageController){
            c.setAttribute("open", "open")
            let links = c.getElementsByClassName("link")
            for (let a of links){
                console.log(a.textContent.trim() , '@ViewData["title"]')
                console.log(a.textContent.trim() == '@ViewData["title"]')
                if (a.textContent.trim() == '@ViewData["title"]') {
                    a.style.backgroundColor = "rgb(1,1,1,.1)";
                    a.style.color = "black";
                }

                
            }
        }
    }
    
}
openSidebarLink()
</script>

@* Prism JS *@
<script src="~/js/prism.js" asp-append-version="true"></script>
@* Make toc *@

@await RenderSectionAsync("Scripts", required: false)

</html>
