@{
    string Version = "v0.1.1-beta";
    string WebMaster = "amsears60441@gmail.com";
}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Keywords"
        content="HTML, Python, CSS, JavaScript, How to, Java, C, C++, C#, dotnet, .NET, Colors, W3.CSS, XML, MySQL, Icons, NodeJS, React, Graphics, Angular, R, AI, Git, Data Science, Code Game, Tutorials, Programming, Web Development, Training, Learning, Quiz, Exercises, Courses, Lessons, References, Examples, Learn to code, Source code, Demos, Tips, Website" />
    <meta name="Description"
        content="Excellent programming tutorials with examples of HTML, CSS, JavaScript, Dotnet, Python, PHP, Bootstrap, Java, and more." />
    <meta name="author" content="Alec Scripts" />


    <title>@ViewData["controller"] @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* <link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> *@

    @* favicon *@
    @* <link rel="icon" href="~/lib/favicon.ico?ver=2" /> *@

    @* favicon Recommended Settings *@
    <link rel="apple-touch-icon" sizes="180x180" href="~/lib/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/lib/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/lib/favicon-16x16.png">
    <link rel="manifest" href="~/lib/site.webmanifest">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MvcAlecScripts.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/alecScriptsStyles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

    @* For /alecscripts/Views/Sass/SassVariablesCSS.css *@
    <link rel="stylesheet" href="Views/Sass/SassVariablesCSS.css" />

    @* Google fonts *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:wght@400;700&family=Lexend:wght@200&family=Poppins&family=UnifrakturCook&family=UnifrakturMaguntia&display=swap"
        rel="stylesheet">

    @* /Prism CSS *@
    <link rel="stylesheet" href="~/css/prism.css" asp-append-version="true" />

</head>



<body>

    
    <div class="row">

        <div class="col-sm-2">



            <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
                <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                    <svg class="bi me-2" width="30" height="24">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                    <span class="fs-5 fw-semibold">Collapsible</span>
                </a>
                <ul class="list-unstyled ps-0">
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#home-collapse" aria-expanded="true">
                            Home
                        </button>
                        <div class="collapse show" id="home-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark rounded">Overview</a></li>
                                <li><a href="#" class="link-dark rounded">Updates</a></li>
                                <li><a href="#" class="link-dark rounded">Reports</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#dashboard-collapse" aria-expanded="false">
                            Dashboard
                        </button>
                        <div class="collapse" id="dashboard-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark rounded">Overview</a></li>
                                <li><a href="#" class="link-dark rounded">Weekly</a></li>
                                <li><a href="#" class="link-dark rounded">Monthly</a></li>
                                <li><a href="#" class="link-dark rounded">Annually</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#orders-collapse" aria-expanded="false">
                            Orders
                        </button>
                        <div class="collapse" id="orders-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark rounded">New</a></li>
                                <li><a href="#" class="link-dark rounded">Processed</a></li>
                                <li><a href="#" class="link-dark rounded">Shipped</a></li>
                                <li><a href="#" class="link-dark rounded">Returned</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="border-top my-3"></li>
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#account-collapse" aria-expanded="false">
                            Account
                        </button>
                        <div class="collapse" id="account-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark rounded">New...</a></li>
                                <li><a href="#" class="link-dark rounded">Profile</a></li>
                                <li><a href="#" class="link-dark rounded">Settings</a></li>
                                <li><a href="#" class="link-dark rounded">Sign out</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-sm-8">

            <main id="bodyRender" role="main" class="pb-3 ">
                <div class="pt-5">
                    <h1 class=" border-bottom display-4">@ViewData["controller"] @ViewData["Title"] </h1>
                </div>
                <div id="toc">

                    <ul class="toc-container shadow-sm rounded-3 text-dark">
                        <center>
                            <h2 style="color:black; border-bottom:1px solid rgb(0,0,0,.0538) ;">
                                Table of Contents
                            </h2>
                        </center>
                        @* @foreach (var item in Toc)
                            {
                            <li><a class="link" href="#@item">@item</a></li>
                            } *@
                    </ul>
                </div>
                <div id="mainBody" class="pt-3">
                    @RenderBody()
                </div>
                <div style="padding-bottom: 50px;">
                    <hr>
                    <p>
                        Popular Topics:
                    </p>
                    <ul style="color: darkblue;">
                        <li>
                            <a style="color: black;" asp-controller=Python asp-action=index> Python </a>
                        </li>
                        <li>
                            <a style="color: var(--pink);" asp-controller=Bash asp-action=index> Bash </a>
                        </li>
                        <li>
                            <a style="color: black;" asp-controller=HTML asp-action=index> HTML </a>
                        </li>
                        <li>
                            <a style="color: var(--pink);" asp-controller=CSS asp-action=index> CSS </a>
                        </li>
                    </ul>
                    <p class="shadow-sm p-3 bg-light text-center"
                        style="font-size: 15px; margin-top: 250px; max-width: 100%; width: 100%;">
                        alecscripts aims to stay up-to-date on everything, but given
                        the large number of topics, nothing can be guaranteed. Site is not responsible for
                        any code written and/or executed.
                    </p>
                    <div class="text-center">
                        <span style="font-family: 'UnifrakturMaguntia', cursive; font-size: 35px;">
                            - A.S.
                        </span>
                    </div>
                </div>
                <hr>
            </main>

        </div>

        <div class="col-sm-2">
            @* Other SB *@
            <div class="mt-5 sidebar-2 sticky-top">
                <p>@ViewData["controller"] > @ViewData["title"]</p>



            </div>
            @* Other SB *@
        </div>
    </div>



    <div id="controller" class="hidden">
        @ViewData["controller"]
    </div>

</body>

<div class="row">

    <div class="col-sm-2">
        <footer id="foot" class="sticky-bottom text-muted">
            <ul>
                <li>
                    <a style="color: var(--pink);"
                        href="https://github.com/searsam1/alecscripts/commits/main">Repository</a>
                    |
                    <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    |
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    |
                    <a asp-area="" asp-controller="Python" asp-action="Index">Python</a>

                </li>
                <li>
                    @Version
                </li>

                <li>
                    @WebMaster
                </li>
                <li id="pageID">
                </li>
                <li>Built With <span class="text-dark"> Python </span> <span class="text-dark"> .NET </span> <span
                        class="text-dark"> GitHub </span> </li>
            </ul>
        </footer>
    </div>
</div>


<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/HToDisplay.js" asp-append-version="true"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<script>
    function makeSidebar2() {
        let toc = document.querySelector(".toc-container")
        let links = toc.querySelectorAll("li")
        let sb2 = document.querySelector(".sidebar-2")
        for (let link of links) {
            // have to clone or it steals 
            // the list elements from 
            // the sidebar 
            sb2.appendChild(link.cloneNode(true))
        }
        console.log(sb2)
    }
    makeSidebar2()
</script>

<script>
    function openSidebarLink() {
        let sidebar = document.querySelector(".sidebar");
        let controllers = sidebar.querySelectorAll("details");
        let pageController = document.querySelector("#controller").textContent.trim();
        let header

        for (let c of controllers) {
            header = c.querySelector("summary").textContent.trim()
            if (header == pageController) {
                c.setAttribute("open", "open")
                let links = c.getElementsByClassName("sidebar-link")
                for (let a of links) {
                    if (a.textContent.trim().split(" ").slice(1).join(" ") == '@ViewData["title"]') {
                        a.style.backgroundColor = "black";
                        a.style.color = "white";
                        a.style.paddingRight = "100%"
                    }


                }
            }
        }

    }
    openSidebarLink()
</script>
@* Prism JS *@

</html>
