@model MvcAlecScripts.Models.TestModel

<h1 class="display-6">
    Medication Example
</h1>
    
<span class="bg-dark text-light p-2 rounded">@Model.Name
    @Model.Size
    @Model.Form
</span>
    
    <p style="font-family: italic;">
        @Model.Directions
    </p>
    <p>
        RX# <span class="bg-dark text-light p-2 rounded">@Model.RxNumber</span>
    </p>
    <p>
        @Model.Quantity @Model.Form
    </p>
    <p>
        @Model.RefillAuth
    </p>
<h1 class="display-6">
    Model
</h1>
<pre><code class="lang-csharp">
public class TestModel
    {
    public string? Street { get; set; }
    public string? Name { get; set; }
    public string? Size { get; set; }
    public string? Form { get; set; }
    public string? Directions { get; set; }
    public string? RxNumber { get; set; }
    public int? Quantity { get; set; }
    public string? RefillAuth { get; set; }
    
    }
</code></pre>
<h1 class="display-6">
    Controller
</h1>    
<pre><code class="lang-csharp">
public IActionResult GetStreet()
{
    ViewData["title"] = "Model Personal Learning Page";

    var viewModel = new TestModel()
    {
        Street = "1755 29th St, Boulder, CO 80301",
        Name = "Venlafaxine ER",
        Size = "150MG",
        Form = "Capsules",
        Directions = "Take 1 Capsule by mouth daily.",
        RxNumber = "2794372-04952",
        Quantity = 90,
        RefillAuth = "No Refills, needs doctor approval",
    };
    return View(viewModel);
}
</code></pre>


@{
    string s = @"
<h1 class=""display-6"">
    Medication Example
</h1>
    
<span class=""bg-dark text-light p-2 rounded"">@Model.Name
    @Model.Size
    @Model.Form
</span>
    
<p style=""font-family: italic;"">
    @Model.Directions
</p>
<p>
    RX# <span class=""bg-dark text-light p-2 rounded"">@Model.RxNumber</span>
</p>
<p>
    @Model.Quantity @Model.Form
</p>
<p>
    @Model.RefillAuth
</p>";
}
<h1 class="display-6">
    View
</h1>
<pre><code class="lang-razor">
    @s
</code></pre>

<div class="container">
    <div class="container">
        <p>
            Basically the model is embedded in the view which is controlled 
            by the controller and its actions. Super useful for organizing 
            things or referencing a database.
        </p>
    </div>
</div>