

<p>
    Fonts play an important role to how a website looks and feels. 
</p>

<p style="font-size: 25px; font-family: 'IBM Plex Sans', sans-serif;">
        IBM Plex Sans
</p>
<p  style="font-size: 25px; font-family: 'Orbitron', sans-serif;">
        <span class="border-bottom border-danger">O<span class="text-danger">r</span>bitron</span>
</p>
<p  style="font-size: 25px;font-family: 'Rubik Vinyl', cursive;">
        <span class="border-bottom border-danger">R<span class="text-danger">u</span>bik</span> Vinyl
</p>


<p>
    These example fonts are from google fonts, but they demonstrate that fonts can make one feel different ways. 
    CSS comes with a set of generics to fall back on in case of emergency. 
</p>

<h2>
    Serif and Sans-Serif
</h2>
<p>
    Serif fonts have little marks on the ends of each line. Sans-Serif fonts 
    do not have these lines. 
</p>

<p style="font-size: 30px; font-family: serif;">
    Hi, I'm serif
</p>
<p style="font-size: 30px; font-family: sans-serif;">
    Hi, I'm sans-serif
</p>
<p>
    The sans-serif font has no points or tips on the edges of the lines, like on 
    the ends of the H's. Serif, however, has little points where the H touches the top 
    and bottom. 
</p>

<h2 >
    Generic Fonts
</h2>
@{
    string[] fonts = {"Serif", "Sans-serif", "Monospace", "Cursive", "Fantasy"};
}
<ul>
@foreach (string font in fonts)
{
    <li>
        <span style="font-family: @font;">@font</span>
        <ul><li style="font-family: @font;">
            The Quick Brown Fox Jumps Over The Lazy Dog
        </li></ul>
    </li>
}
</ul>
<p>
    Font is important when making a website: it portrays a theme, 
    shows care and thought, but, more importantly, if a website is hard 
    to read readers will leave and not return. Font plays a huge role in how 
    easy or hard a website is to read.  
</p>
<p>
    Since there are a lot of fonts, most of which are restricted, it is a good idea 
    to have a few fallbacks and always a fallback to a generic font. This way, CSS has 
    a backup text that is available on almost all browsers to display when 
    the current font isn't supported.  
</p>

<p>
    The <code>font-family</code> property is used to change the font. 
</p>

<pre><code class="lang-css">p {
    font-family: /* font goes here */ 
}
</code></pre>

<pre><code class="lang-css">/* Example 1 */
p {
  font-family: "Times New Roman", Times, serif;
}

/* Example 2 */
p {
  font-family: Arial, Helvetica, sans-serif;
}

/* Example 3 */
p {
  font-family: "Lucida Console", "Courier New", monospace;
}
</code></pre>

<h3>
    Serif
</h3>
@{
    string[] Serifs = {"Times New Roman", "Georgia", "Garamond"};
}
<ul>
@foreach (string font in Serifs)
{
    <li>
        <span style="font-family: @font;">@font</span>
        <ul><li style="font-family: @font;">
            The Quick Brown Fox Jumps Over The Lazy Dog
        </li></ul>
    </li>
}
</ul>

<h3>
Sans-Serif
</h3>
@{
    string[] SanSerifs = {"Arial", "Verdana", "Helvetica"};
}
<ul>
@foreach (string font in SanSerifs)
{
    <li>
        <span style="font-family: @font;">@font</span>
        <ul><li style="font-family: @font;">
            The Quick Brown Fox Jumps Over The Lazy Dog
        </li></ul>
    </li>
}
</ul>

<h3>
Monospace
</h3>
@{
    string[] Monospaces = {"Courier New", "Lucida Console", "Monaco"};
}
<ul>
@foreach (string font in Monospaces)
{
    <li>
        <span style="font-family: '@font';">@font</span>
        <ul><li style="font-family: '@font';">
            The Quick Brown Fox Jumps Over The Lazy Dog
        </li></ul>
    </li>
}
</ul>

<h3>
Cursive
</h3>
@{
    string[] Cursives = {"Brush Script MT", "Lucida Handwriting"};
}
<ul>
@foreach (string font in Cursives)
{
    <li>
        <span style="font-family: '@font';">@font</span>
        <ul><li style="font-family: '@font';">
            The Quick Brown Fox Jumps Over The Lazy Dog
        </li></ul>
    </li>
}
</ul>

<h3>
Fantasy
</h3>
@{
    string[] Fantasys = {"Copperplate", "Papyrus"};
}
<ul>
@foreach (string font in Fantasys)
{
    <li>
        <span style="font-family: '@font', fantasy;">@font</span>
        <ul><li style="font-family: '@font';">
            The Quick Brown Fox Jumps Over The Lazy Dog
        </li></ul>
    </li>
}
</ul>


<h2>
    Web Fonts
</h2>
<p>
    Web fonts come from websites like google fonts. They can be linked in 
    the head of the document or can be used with the <code>font-face</code> ruleset in 
    the style sheet. This uses local, downloaded files. These files have different formats: 
    <ul>
        <li>
            OTF (Open Type Font)
        </li>
        <li>
            TTF (True Type Font)
        </li>
        <li>
            WOFF (Web Open Font Format)
        </li>
        <li>
            WOFF2 (Web Open Font Format 2)
        </li>
    </ul>
</p>

<p>
    Then, to reference the files in the css stylesheet, use:
    <pre><code class="lang-css">@@font-face {
  font-family: 'MyFontName';
  src: url('fonts/exampleFont.woff2') format('woff2'),
       url('fonts/exampleFont.woff') format('woff'),
       url('fonts/exampleFont.ttf') format('truetype');
}</code></pre>
</p>

<p>
    The font <code>'MyFontName'</code> is now available to use inside the stylesheet. 
</p>
<pre><code class="lang-css">p {
    font-family: 'MyFontName', sans-serif;;
}</code></pre>