@model MvcAlecScripts.Models.ChallengesModel

@* name - challengeId - Description - Notes - Resources *@



<p>
    This is an introduction challenge to show how challenges work on alecscripts. 
</p>

<script>
    function show(section){
        let active = document.querySelector(".active")
        active.setAttribute("class", "hidden border p-3")
        let code = document.querySelector("#" + section)
        code.setAttribute("class", "active border p-3")
    }
</script>

<div class="container">
    <button onclick="show('info')" class="btn btn-dark"> Info </button>
    <button onclick="show('code')" class="btn btn-dark"> Code </button>
    <button onclick="show('help')" class="btn btn-dark"> Help </button>
    <button onclick="show('comments')" class="btn btn-dark"> Comments </button>
    <button onclick="show('Solutions')" class="btn btn-dark"> Solutions </button>
</div>

<div class="active border p-3" id="info">
    
        <div class="fs-3 ps-3 pt-3" style="font-family: orbitron">
            Info
        </div>
    
    <h2 >
        <span class="bg-light p-3 rounded shadow-sm">@Model.InstructionsTitle</span>
    </h2>
    
    <h3>
        @Model.Subheader
    </h3>
    
    <p class=" border-bottom p-3 text-secondary">
        @Model.Tags
    </p>
    <p class="p-3 border border-dark">
        @Model.InstructionsInstructions
    </p>
    <h2>Examples</h2>
    <pre><code class="lang-md">@Model.InstructionsExamples</code></pre>
    
    <h2>Notes</h2>
    <pre><code class="lang-md">@Model.InstructionsNotes</code></pre>
</div>

<div class="hidden border p-3" id="code">
    <h3>
        Code
    </h3>
    <textarea>def main():
    ...</textarea>
</div>

<div class="hidden border p-3" id="Help">
    <h2>
        Help
    </h2>
</div>

<div class="hidden border p-3" id="Comments">
    <h2>
        Comments
    </h2>
</div>

<div class="hidden border p-3" id="Solutions">
    <h2>
        Solutions
    </h2>
</div>

<style>
    textarea{
        width: 100%;
        background: white;
        color: black;
        font-family: 'Courier New', Courier, monospace;
        padding: 10px;
        min-height: 50vh;
        margin-bottom: 100px;
    }
    .test{
        transition: margin-left 1s ,background-color 1s;
    }
    .test:hover{
        margin-left: 10px;
        transition: margin-left .5s ,background-color .5s;
        background-color: rgb(1,1,1,.05);
    }
    .test:selected{
        outline: 2px dotted grey;
    }
    .hidden {
        display: none;
    }
    .active {
        display: block;
    }
    
</style>
