<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content='@ViewData["Description"]'>
    <title>@ViewData["Title"] - Alec Scripts</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MvcAlecScripts.styles.css" asp-append-version="true" />
    @* Google fonts *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lexend:wght@200&family=Poppins&display=swap"
        rel="stylesheet">
    @* /Google fonts *@

    @* /Prism CSS *@
    <link rel="stylesheet" href="~/css/prism.css" asp-append-version="true" />
</head>

@{
    string[] Toc = {
"Types", "Creating", "Calling",
"Docstrings", "Return", "Pass",
"Scope", "Arguments"
};
    double Version = 1.6;
}
<nav class="sticky-top ">
        @* <div class="shadow-sm" id="sidebar">
            <nav class="sidebarHeader">Challenge<nav><div> <a class="sidebar-link" asp-action="GetOdds" asp-controller="Challenge"> Get Odds </a> </div><div> <a class="sidebar-link" asp-action="Index" asp-controller="Challenge"> Index </a> </div><div> <a class="sidebar-link" asp-action="drinkSoda" asp-controller="Challenge"> drink Soda </a> </div><nav class="sidebarHeader">Cpp<nav><div> <a class="sidebar-link" asp-action="Index" asp-controller="Cpp"> Index </a> </div><nav class="sidebarHeader">Dotnet<nav><div> <a class="sidebar-link" asp-action="Index" asp-controller="Dotnet"> Index </a> </div><div> <a class="sidebar-link" asp-action="randomNumber" asp-controller="Dotnet"> random Number </a> </div><nav class="sidebarHeader">Home<nav><div> <a class="sidebar-link" asp-action="Error" asp-controller="Home"> Error </a> </div><div> <a class="sidebar-link" asp-action="Index" asp-controller="Home"> Index </a> </div><div> <a class="sidebar-link" asp-action="Privacy" asp-controller="Home"> Privacy </a> </div><div> <a class="sidebar-link" asp-action="PythonHomePage" asp-controller="Home"> Python Home Page </a> </div><div> <a class="sidebar-link" asp-action="Test" asp-controller="Home"> Test </a> </div><nav class="sidebarHeader">Html<nav><div> <a class="sidebar-link" asp-action="Index" asp-controller="Html"> Index </a> </div><div> <a class="sidebar-link" asp-action="Tags" asp-controller="Html"> Tags </a> </div><nav class="sidebarHeader">Js<nav><div> <a class="sidebar-link" asp-action="BinaryArraytoDecimal" asp-controller="Js"> Binary Arrayto Decimal </a> </div><div> <a class="sidebar-link" asp-action="Expressions_and_operators" asp-controller="Js"> Expressions_and_operators </a> </div><div> <a class="sidebar-link" asp-action="Index" asp-controller="Js"> Index </a> </div><div> <a class="sidebar-link" asp-action="ToFixed" asp-controller="Js"> To Fixed </a> </div><div> <a class="sidebar-link" asp-action="jsGetMonth" asp-controller="Js"> js Get Month </a> </div><nav class="sidebarHeader">Nav<nav><nav class="sidebarHeader">Python<nav><div> <a class="sidebar-link" asp-action="Functions" asp-controller="Python"> Functions </a> </div><div> <a class="sidebar-link" asp-action="GetStreet" asp-controller="Python"> Get Street </a> </div><div> <a class="sidebar-link" asp-action="Index" asp-controller="Python"> Index </a> </div><div> <a class="sidebar-link" asp-action="abs" asp-controller="Python"> abs </a> </div><div> <a class="sidebar-link" asp-action="cg" asp-controller="Python"> cg </a> </div><div> <a class="sidebar-link" asp-action="controllerGetter" asp-controller="Python"> controller Getter </a> </div><div> <a class="sidebar-link" asp-action="funnyNumbers" asp-controller="Python"> funny Numbers </a> </div><div> <a class="sidebar-link" asp-action="passwords" asp-controller="Python"> passwords </a> </div><div> <a class="sidebar-link" asp-action="split" asp-controller="Python"> split </a> </div><div> <a class="sidebar-link" asp-action="stringFormattingTypes" asp-controller="Python"> string Formatting Types </a> </div><div> <a class="sidebar-link" asp-action="swapcase" asp-controller="Python"> swapcase </a> </div><div> <a class="sidebar-link" asp-action="vars" asp-controller="Python"> vars </a> </div>
        </div> *@
    </nav>
<header class="sticky-top">
    <nav id="navy" class=" navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom shadow-sm ">
        <div class="container-fluid">
            <a id="flipMe" class="sidebarBtn">
                <button class="btn" onclick="showID('sidebar'), flip('flipMe')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-list"
                        viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                    </svg>
                </button>
            </a>
            <a style="font-family: 'Dancing Script', cursive; font-size: 30px;" class="navbar-brand text-white"
                asp-area="" asp-controller="Home" asp-action="Index">Alec Scripts</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span style="color: white;" class=" navbar-toggler-icon bg-secondary rounded"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-secondary" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    @* <li class="nav-item">
                        <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Test">Test Page</a>
                        </li> *@
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Python" asp-action="Index">Python</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Js" asp-action="Index">JavaScript</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Cpp" asp-action="Index">C++</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Html" asp-action="Index">HTML</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Dotnet" asp-action="Index">.NET</a>
                    </li>

                </ul>

                <div style="font-size: 10px;">
                  <span class="navbar-text text-info">
                    v <span class="border-bottom text-secondary">@Version</span>
                  </span>
                </div>
            </div>

        </div>
    </nav>
</header>



<body>
    


<div class="row">
    
        <div id="sidebar" class="col-sm-2 pt-5">
            <nav class="sidebarHeader">Challenge<nav><div> <a class="sidebar-link" asp-action="GetOdds" asp-controller="Challenge"> Get Odds </a> </div><div> <a class="sidebar-link" asp-action="Index" asp-controller="Challenge"> Index </a> </div><div> <a class="sidebar-link" asp-action="cMYT0T3SLfA3Owg93TF0H" asp-controller="Challenge"> c MYT0T3SLf A3Owg93TF0H </a> </div><div> <a class="sidebar-link" asp-action="cUieTmgawXxaKw4FroF" asp-controller="Challenge"> c Uie Tmgaw Xxa Kw4Fro F </a> </div><div> <a class="sidebar-link" asp-action="cXrVpSBJrEPoaSx3rgYG" asp-controller="Challenge"> c Xr Vp SBJr EPoa Sx3rg YG </a> </div><div> <a class="sidebar-link" asp-action="drinkSoda" asp-controller="Challenge"> drink Soda </a> </div><div> <a class="sidebar-link" asp-action="pXSfUeawyjrRc4IlzjsG" asp-controller="Challenge"> p XSf Ueawyjr Rc4Ilzjs G </a> </div><nav class="sidebarHeader">Cpp<nav><div> <a class="sidebar-link" asp-action="Index" asp-controller="Cpp"> Index </a> </div><nav class="sidebarHeader">Dotnet<nav><div> <a class="sidebar-link" asp-action="Index" asp-controller="Dotnet"> Index </a> </div><div> <a class="sidebar-link" asp-action="randomNumber" asp-controller="Dotnet"> random Number </a> </div><nav class="sidebarHeader">Home<nav><div> <a class="sidebar-link" asp-action="Error" asp-controller="Home"> Error </a> </div><div> <a class="sidebar-link" asp-action="Index" asp-controller="Home"> Index </a> </div><div> <a class="sidebar-link" asp-action="Privacy" asp-controller="Home"> Privacy </a> </div><div> <a class="sidebar-link" asp-action="PythonHomePage" asp-controller="Home"> Python Home Page </a> </div><div> <a class="sidebar-link" asp-action="Test" asp-controller="Home"> Test </a> </div><nav class="sidebarHeader">Html<nav><div> <a class="sidebar-link" asp-action="Index" asp-controller="Html"> Index </a> </div><div> <a class="sidebar-link" asp-action="Tags" asp-controller="Html"> Tags </a> </div><nav class="sidebarHeader">Js<nav><div> <a class="sidebar-link" asp-action="BinaryArraytoDecimal" asp-controller="Js"> Binary Arrayto Decimal </a> </div><div> <a class="sidebar-link" asp-action="Expressions_and_operators" asp-controller="Js"> Expressions_and_operators </a> </div><div> <a class="sidebar-link" asp-action="Index" asp-controller="Js"> Index </a> </div><div> <a class="sidebar-link" asp-action="ToFixed" asp-controller="Js"> To Fixed </a> </div><div> <a class="sidebar-link" asp-action="jsGetMonth" asp-controller="Js"> js Get Month </a> </div><nav class="sidebarHeader">Nav<nav><nav class="sidebarHeader">Python<nav><div> <a class="sidebar-link" asp-action="Functions" asp-controller="Python"> Functions </a> </div><div> <a class="sidebar-link" asp-action="GetStreet" asp-controller="Python"> Get Street </a> </div><div> <a class="sidebar-link" asp-action="Index" asp-controller="Python"> Index </a> </div><div> <a class="sidebar-link" asp-action="abs" asp-controller="Python"> abs </a> </div><div> <a class="sidebar-link" asp-action="cg" asp-controller="Python"> cg </a> </div><div> <a class="sidebar-link" asp-action="controllerGetter" asp-controller="Python"> controller Getter </a> </div><div> <a class="sidebar-link" asp-action="funnyNumbers" asp-controller="Python"> funny Numbers </a> </div><div> <a class="sidebar-link" asp-action="passwords" asp-controller="Python"> passwords </a> </div><div> <a class="sidebar-link" asp-action="split" asp-controller="Python"> split </a> </div><div> <a class="sidebar-link" asp-action="stringFormattingTypes" asp-controller="Python"> string Formatting Types </a> </div><div> <a class="sidebar-link" asp-action="swapcase" asp-controller="Python"> swapcase </a> </div><div> <a class="sidebar-link" asp-action="vars" asp-controller="Python"> vars </a> </div>
        </div>
    
    <div class="col-sm-8">
        <main id="bodyRender" role="main" class="pb-3 ">
            <div class="text-center">
                <h3 class="display-4 rounded-3">@ViewData["Title"]</h3>
            </div>

            <div class="text-left pb-3">

                <ul class="toc-container">

                    @* @foreach (var item in Toc)
                        {
                        <li><a class="link" href="#@item">@item</a></li>
                        } *@
                </ul>

            </div>
            <div id="mainBody" class="text-left pt-3">
                @RenderBody()
            </div>
        </main>
    </div>
</div>


</body>

<footer id="foot" class="sticky-bottom border-top  footer text-muted">
    <div style="font-size: small;">
        &copy; alecscripts.com &trade; <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        || <a href="https://github.com/searsam1/alecscripts/commits/main">Repository</a>
    </div>
    <div style="font-size: small;">
        Version @Version
    </div>
    <div style="font-size: small;">
        <a asp-area="" asp-controller="Home" asp-action="Python">Python</a>
        ||
        <a asp-area="" asp-controller="functions" asp-action="Python">Functions</a>
        ||
        <a asp-area="" asp-controller="passwords" asp-action="Python">Passwords</a>
        ||
        <a asp-area="" asp-controller="swapcase" asp-action="Python">Swapcase</a>


    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@* Prism JS *@
<script src="~/js/prism.js" asp-append-version="true"></script>
@* Make toc *@

@await RenderSectionAsync("Scripts", required: false)

</html>
