<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content='@ViewData["Description"]'>
    <title>@ViewData["Title"] - Alec Scripts</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MvcAlecScripts.styles.css" asp-append-version="true" />
    @* Google fonts *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lexend:wght@200&family=Poppins&display=swap"
        rel="stylesheet">
    @* /Google fonts *@

    @* /Prism CSS *@
    <link rel="stylesheet" href="~/css/prism.css" asp-append-version="true" />
</head>

@{
    string[] Toc = {
"Types", "Creating", "Calling",
"Docstrings", "Return", "Pass",
"Scope", "Arguments"
};
    double Version = 1.22;
}

<header class="sticky-top">
    <nav id="navy" class=" navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom shadow-sm mb-3">
        <div class="container-fluid">
            <a id="flipMe" class="sidebarBtn">
                <button class="btn" onclick="showID('sidebar'), flip('flipMe')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="dark" class="bi bi-list"
                        viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                    </svg>
                </button>
            </a>
            <a style="font-family: 'Dancing Script', cursive; font-size: 30px;" class="navbar-brand text-dark"
                asp-area="" asp-controller="Home" asp-action="Index">Alec Scripts</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    @* <li class="nav-item">
                        <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Test">Test Page</a>
                        </li> *@
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Python" asp-action="Index">Python</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Js" asp-action="Index">JavaScript</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Cpp" asp-action="Index">C++</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Html" asp-action="Index">HTML</a>
                    </li>

                </ul>

                <span class="navbar-text">
                    v @Version
                </span>
            </div>

        </div>
    </nav>
</header>



<body>
    <nav class="sticky-top">
        <div class="shadow-sm" id="sidebar">
            <p>
            <nav class="sidebarHeader">Js<nav>
                    <p> <a class="sidebar-link" asp-action="Index" asp-controller="Js"> Index </a> </p>
                    <p> <a class="sidebar-link" asp-action="jsGetMonth" asp-controller="Js"> jsGetMonth </a> </p>
                    <p> <a class="sidebar-link" asp-action="Expressions_and_operators" asp-controller="Js">
                            Expressions_and_operators </a> </p>
                    <p> <a class="sidebar-link" asp-action="BinaryArraytoDecimal" asp-controller="Js">
                            BinaryArraytoDecimal </a> </p>
                    <p> <a class="sidebar-link" asp-action="ToFixed" asp-controller="Js"> ToFixed </a> </p>
                            <nav class="sidebarHeader">Cpp<nav>
                                    <p> <a class="sidebar-link" asp-action="Index" asp-controller="Cpp"> Index </a> </p>
                                    <nav class="sidebarHeader">Python<nav>
                                            <p> <a class="sidebar-link" asp-action="Index" asp-controller="Python">
                                                    Index </a> </p>
                                            <p> <a class="sidebar-link" asp-action="Functions" asp-controller="Python">
                                                    Functions </a> </p>
                                            <p> <a class="sidebar-link" asp-action="split" asp-controller="Python">
                                                    split </a> </p>
                                            <p> <a class="sidebar-link" asp-action="passwords" asp-controller="Python">
                                                    passwords </a> </p>
                                            <p> <a class="sidebar-link" asp-action="swapcase" asp-controller="Python">
                                                    swapcase </a> </p>
                                            <p> <a class="sidebar-link" asp-action="vars" asp-controller="Python"> vars
                                                </a> </p>
                                            <p> <a class="sidebar-link" asp-action="abs" asp-controller="Python"> abs
                                                </a> </p>
                                            <p> <a class="sidebar-link" asp-action="funnyNumbers" asp-controller="Python"> Funny Numbers
                                                </a> </p>
                                            <nav class="sidebarHeader">Home<nav>
                                                    <p> <a class="sidebar-link" asp-action="Index"
                                                            asp-controller="Home"> Index </a> </p>
                                                    <p> <a class="sidebar-link" asp-action="Privacy"
                                                            asp-controller="Home"> Privacy </a> </p>
                                                    <nav class="sidebarHeader">Html<nav>
                                                            <p> <a class="sidebar-link" asp-action="Index"
                                                                    asp-controller="Html"> Index </a> </p>
                                                            <p> <a class="sidebar-link" asp-action="Tags"
                                                                    asp-controller="Html"> Tags </a> </p>
                                                            </p>
        </div>
    </nav>



    <div class="container col-sm-8">
        <main id="bodyRender" role="main" class="pb-3 ">
            <div class="text-center my-5">
                <h3 class="display-4 rounded-3">@ViewData["Title"]</h3>
            </div>

            <div class="text-left pb-3">

                <ul class="toc-container">

                    @* @foreach (var item in Toc)
                        {
                        <li><a class="link" href="#@item">@item</a></li>
                        } *@
                </ul>

            </div>
            <div id="mainBody" class="text-left pt-3">
                @RenderBody()
            </div>
        </main>
    </div>


</body>

<footer id="foot" class="sticky-bottom border-top  footer text-muted">
    <div style="font-size: small;">
        &copy; alecscripts.com &trade; <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        || <a href="https://github.com/searsam1/alecscripts/commits/main">Repository</a>
    </div>
    <div style="font-size: small;">
        Version 1.22
    </div>
    <div style="font-size: small;">
        <a asp-area="" asp-controller="Home" asp-action="Python">Python</a>
        ||
        <a asp-area="" asp-controller="functions" asp-action="Python">Functions</a>
        ||
        <a asp-area="" asp-controller="passwords" asp-action="Python">Passwords</a>
        ||
        <a asp-area="" asp-controller="swapcase" asp-action="Python">Swapcase</a>


    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@* Prism JS *@
<script src="~/js/prism.js" asp-append-version="true"></script>
@* Make toc *@

@await RenderSectionAsync("Scripts", required: false)

</html>
